<h1></h1>
<a target="_blank" href="https://angular.dev/overview">
  Learn more about Angular
</a>
<br/>
@if (isAdmin===1) {
  <button>Erase database</button>
} @else if (isAdmin===2){
  fuck
} @else {
  fuck2
}



<!-- 
base works!
<app-profile-photo />
<button>Upload a new profile photo</button>
 <div app-drop-zone></div>
 <p app-drop-zone></p>
 <p></p>
 <p app-drop-zone></p>
 <button upload></button>
 <app-custom-slider 
  [value]=22 
  [quantity]=210 
  [label]="'bonjour '" 
  [widthPx]="1"
  disabled
  number="1z0"
  /> -->

<app-custom-card>
  <app-card-title>Hello</app-card-title>
  <div subtitle>subtitle</div>
  <app-card-body>Welcome to the example</app-card-body>
  <p>le reste va la</p>
  <h5 ngProjectAs="signature">Jmc</h5>
</app-custom-card>
